*{box-sizing: border-box;}
header {text-align: center;}
nav {text-align: center;}
nav a {text-decoration: none; color: #FFFFFF; background-color: #E94E4E; margin: 0px; padding: 10px 60px 10px 60px;}
.current {background-color: #CD0808;}
main {text-align: center; margin: 12px 21px 0px 21px; padding: 20px 10px 15px 10px;
      background-color: #FC9E9E; height: auto; width: auto;}
table {margin: auto;}
ul {text-align: left;}
form {text-align: center;}